---
layout: default
leaderships:
    current: 
        - name: Yung-Chih Cheng
          ch-name: 
          image-url: https://media.licdn.com/dms/image/C5603AQFw41etXMsi5g/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=FRmVuIAq1mFi1KuSSg2ofTPtA7u1uw5syP_8mPvbCCQ
          position: Senior Scientist, Q-State Biosciences
          current:
        - name: Chih-Chi (Jimmy) Chu
          ch-name: 
          image-url: https://media.licdn.com/dms/image/C4E03AQGMxV-Knb8akA/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=x7wyHLXsGu7lwncY8q75IaUwaO1dO0Ham9QwraDNUd4
          position: Scientist I, bluebird bio
          current:
    2018:
        - name: Yung-Chi Huang
          ch-name: 黃詠琪
          image-url: https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Prescription01&hairColor=BrownDark&facialHairType=MoustacheMagnum&facialHairColor=Auburn&clotheType=GraphicShirt&clotheColor=Heather&graphicType=Pizza&eyeType=Squint&eyebrowType=AngryNatural&mouthType=Twinkle&skinColor=Light
          position: Postdoctoral Fellow, Massachusetts Institute of Technology
          current:
        - name: I-Ju Lee
          ch-name: 李以如
          image-url: /assets/img/committee/IJLee.jpg
          position: Research Fellow, Dana-Farber Cancer Institute
          current:
    2017:
        - name: Hsiao-Ying (Monica) Wey
          ch-name: 魏曉英
          image-url: https://media.licdn.com/dms/image/C5603AQEsQXLKeE4sYw/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=eiHnMK3zp9DCuClSHryTTXFTN4FS7rOPe8rtjtD17rs
          position: Assistant Professor, The MGH/HST Martinos Center for Biomedical Imaging
          current:
        - name: Tzu-Hsing (April) Kuo
          ch-name: 郭姿杏
          image-url: https://media.licdn.com/dms/image/C4E03AQFOcOLyT-fo_Q/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=VF0YoJ7VUQ25eCKOTnqlQJQM2in6Aqhr8kGLFSNaJBA
          position: Scientist, Molecular and Cell Biology, Acceleron Pharma
          current:
    2016:
        - name: Ying-Ja (Inca) Chen
          ch-name: 陳映嘉
          image-url: https://media.licdn.com/dms/image/C4D03AQESMyVc9zRS0w/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=OqyMuM-U76Qrti28abmQofT6pWczMvJSYNDarW6JmiE
          position: Patent Agent Axcella Heath
          current: Vice Director, Bioinformatics and AI / IP Manager at ACT Genomics
        - name: Chih-Chieh Wang
          ch-name: 王志傑
          image-url: https://media.licdn.com/dms/image/C4E03AQHi6URRIJUX5Q/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=wCBrkmnUc-b40cdz10fdxZHKJAGhAUdr_-gGqhCQPMw
          position: Postdoctoral Fellow at Harvard Medical School
          current: Scientist at Cygnal Therapeutics
    2015:
        - name: Sherry Lee
          ch-name: 李湘盈
          image-url: https://media.licdn.com/dms/image/C5603AQHRqhLC8uxxKg/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=APRzVPHaPH84TucoJSNlxx8WqjcfLt_-fRWLUbi2ASA
          position: Postdoctoral Fellow at MIT
          current: Assistant Professor at Beijing University
        - name: Fu-Kai Hsieh
          ch-name: 謝富凱
          image-url: /assets/img/committee/FKHsieh.jpg
          position: Research Fellow at Massachusetts General Hospital
          current:
    2014:
        - name: Ho-Chou Tu
          ch-name: 杜荷洲
          image-url: https://media.licdn.com/dms/image/C5603AQEY8nJdxcBumg/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=Rm45WaNz5tJh0UMKk6IWyviyk9-j-TufBfUJDmcHqdA
          position: Research Fellow at Children's Hospital Boston
          current: Senior Scientist at Alnylam Pharmaceuticals
        - name: Ching-Han (Hannah) Shen
          ch-name: 沈敬涵
          image-url: https://media.licdn.com/dms/image/C5603AQFw5oYzQVdqAA/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=tmtL1fpT4L8P58aGqSrAl2SYQcxAOlRJVLInmng3gS4
          position: Graduate student at Harvard University
          current: Associate Director at BridgeBio
    2013:
        - name: Sheng-Hong Chen
          ch-name: 陳昇宏
          image-url: https://media.licdn.com/dms/image/C4E03AQEX4blU06hsug/profile-displayphoto-shrink_800_800/0?e=1554336000&v=beta&t=_GeaaGdFaFIZSEr60tR9-xf-thCtKtrhA6kyuOJ6oBs
          position: Postdoctoral Fellow at Harvard Medical School
          current: Principal Investigator at Academia Sinica, Taiwan
---
<div class="row align-items-center py-auto my-auto py-md-5 my-md-5">
    <div class="col-12 col-md col-lg-5">
        <h1 class="display-1">
            Our Leaderships
        </h1>
    </div>
    <div class="col-12 col-md">
        <hr>
        <!-- <img src="{{ "/assets/img/btba_logo.png" | absolute_url }}" alt="BTBA logo" class="float-left p-4" width="150"> -->
        <p class="">
            Sed vel turpis nec tellus fermentum venenatis et eu diam. Aenean ac tellus sit amet lectus suscipit placerat nec sit amet purus. Mauris eget nisi felis. Sed sit amet congue metus, vitae laoreet nisl. Sed magna ligula, vulputate et nisi eget, mollis maximus nunc. Aliquam erat volutpat. Donec posuere congue urna, in faucibus sem gravida at.
        </p>
    </div>
</div>

<hr class="mt-5 mb-4" />

{% for item in page.leaderships %}
    <h2 class="mt-5 mb-3">{{ item[0] | capitalize }}</h2>
        <div class="row">
            {% for person in item[1] %}
            <div class="col-sm-6 row mb-2">
                <div class="col-4">
                    {% if person.image-url contains "http" %}
                    <img src="{{ person.image-url }}" class="img-fluid" alt="Responsive image">
                    {% else %}
                    <img src="{{ person.image-url | absolute_url }}" class="img-fluid" alt="Responsive image">
                    {% endif %}
                </div>
                <div class="col-8">
                    <h4><strong>{{ person.name }} {{ person.ch-name }}</strong></h4>
                    <p>{{ person.position }}</p>
                    {% if person.current %}
                    <p>Current - {{ person.current }}</p>
                    {% endif %}
                </div>
            </div>            
            {% endfor %}
        </div>
{% endfor %}