---
layout: default
about-podcast: |
    生技來一刻是由 Boston Taiwanese Biotechnology Association （BTBA）發行，Taipei Economic and Cultural Office (TECO) in Boston 贊助。旨在分享在美台灣生技人於職涯上的經歷和創見，盼透過和已在美國各地生技產業就業的學長姐的連線訪談，帶給即將入門生技行業的學子一個方向，提攜後進，並加強台美生技人之間彼此的連結，教學相長。

    新手上路，請多指教，有任何建議歡迎寄信到：tmrbiotech.moments@gmail.com
team:
    - name: Yvonne Meng
      ch-name: 孟憲薇
      image-url: /assets/img/committee/yvonne-meng.jpg
      role: Co-Executives
      position: Sr. Group Leader, Entrada Therapeutics
      current: 
    - name: Erica Cai
      ch-name: 蔡佩珊
      image-url: /assets/img/committee/erica-cai.jpg
      role: Chief Administrator
      position: Research Fellow, Joslin Diabetes Center
      current:
    - name: Tsai-Yi Lu
      ch-name: 呂采宜 (Jo)
      image-url: /assets/img/podcast/tsai-yi-lu-1-640x400.jpg
      role: Chief Producer
      position: Postdoctoral Research Fellow, Johns Hopkins University
      current:
    - name: Fan-En Chen 
      ch-name: 
      image-url: /assets/img/podcast/chen_fan-en.jpg
      role: Co-Executives
      position: PhD candidate, Johns Hopkins University BME
      current:
    - name: Margaret (Chia-Ying) Wey
      ch-name: 魏嘉英
      image-url: /assets/img/committee/margaret_wey.jpg
      role: General Coordinator
      position: Medical Scientist, AstraZeneca
      current:
    - name: Richard Liang
      ch-name: 
      image-url: /assets/img/podcast/Richard.jpg
      role: General Coordinator
      position: Biomarker Scientist, Denali Therapeutics
      current:
    - name: Zoe Liu
      ch-name: 
      image-url: /assets/img/podcast/Zoe.jpg
      role: Sound Editor
      position: Scientist, In Vivo Pharmacology, Editas Medicine      
      current:
    - name: Phoebe Tsai
      ch-name: 
      image-url: /assets/img/podcast/Phoebe_Tsai.jpg
      role: Executive Secretary
      position: Research Associate, Vertex Cell and Genetic Therapies | Vertex Pharmaceuticals
      current:
    - name: Amy Kao
      ch-name: 
      image-url: 
      role: Cover Design
      position: 
      current:
    - name: Yu-An Chen
      ch-name: 
      image-url: /assets/img/committee/yu-anchen.jpg
      role: Website Design
      position: 
      current:

summary: The main goal of the Advanced Podcast series is to expose Taiwanese-American biotech professionals to a variety of career opportunities and possibilities in biotech/pharmaceutical corporates for career advancement and development, and to encourage the younger generations of Taiwanese international students and postdocs the exchange of ideas for career planning and potentials.
---
<div class="row align-items-center py-auto my-auto py-md-5 my-md-5">
    <div class="col-12 col-md col-lg-5">
        <h1 class="display-1">
            BTBA Podcast
        </h1>
    </div>
    <div class="col-12 col-md">
        <hr>
        <!-- <img src="{{ "/assets/img/btba_logo.png" | absolute_url }}" alt="BTBA logo" class="float-left p-4" width="150"> -->
        <p class="">
            {{ page.summary | markdownify }}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 order-2 order-md-1">
        <hr class="mt-5 mb-4" />
        <h2>Team</h2>
        {% for person in page.team %}
        <div class="row mb-3">
            <div class="col-3">
                {% if person.image-url %}
                    <img src="{{ person.image-url | absolute_url }}" class="img-fluid w-100" alt="{{ person.name }}">
                {% endif %}
            </div>
            <div class="col-9">
                <p><strong>{{ person.name }} {{ person.ch-name }}</strong></p>
                <p>{{ person.role }}</p>
                {% if person.current %}
                <p>Current - {{ person.current }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <h2>Contact</h2>
        <p>
            tmrbiotech.moments@gmail.com
        </p>
    </div>
    <div class="col-md-8 order-1 order-md-2">
        <hr class="mt-5 mb-4" />
        <h2>Most Recent Episodes</h2>
        {% for podcast in site.podcasts reversed %}
        <div>
            <p class="mb-0">{{ podcast.path | date: "%b %d, %Y" }}</p>
            <h4 class="mb-0">
                <a href="{{ podcast.link }}">
                    {{ podcast.title }}
                </a>
            </h4>
            <p class="my-1"> 
                {{ podcast.content | markdownify }} 
            </p>
            {{ podcast.embed }}
            <a href="{{ podcast.podcast_guest1_linkedin }}">
                ⇨ {{ podcast.podcast_guest1 }}'s LinkedIn
            </a>
            {% if podcast.podcast_guest2 %}
            <br>
            <a href="{{ podcast.podcast_guest2_linkedin }}">
                ⇨ {{ podcast.podcast_guest2 }}'s LinkedIn
            </a>
            {% endif %}
            {% unless forloop.last %}
                <hr />
            {% endunless %}
        </div>
        {% endfor %}
    </div>
</div>
