---
active: event
layout: default
---

<div class="row align-items-center py-auto my-auto py-md-5 my-md-5">
    <div class="col-12 col-md col-lg-5">
        <h1 class="display-1">
            Event
        </h1>
    </div>
    <div class="col-12 col-md">
        <hr>
        <!-- <img src="{{ "/assets/img/btba_logo.png" | absolute_url }}" alt="BTBA logo" class="float-left p-4" width="150"> -->
        <p class="">
            It's a work in progress as of January 2019. We started by sharing career development insights and would
            like to expand to other directions based on your input.
        </p>
    </div>
</div>
{% assign events = site.events | reverse %}
{% for event in events %}
<div class="row mx-0 my-2" style="background: white;">
    <div class="col-12 col-sm-5 col-md-4 px-3 pt-3 pb-0 p-sm-3">
        <!-- <img class="" src="{{ event.url | split: '/' | pop | join: '/' | append: '/img.jpg' }}" alt="Card image cap"> -->
        <div class="bg-img-placeholder w-100" style="background-image:url('{{ event.url | split: '/' | pop | join: '/' | append: '/img.jpg' | absolute_url }}');">

        </div>
        {% include event-summary.html data=event %}
    </div>
    <div class="col px-3 pb-3 pt-0 p-sm-3">
        <div class="p-2">
            <h5 class="mb-1">{{ event.serie }}</h5>
            <h3 class="">{{ event.name }}</h3>
            <p class="">
                {{ event.content | truncate: 200 }}
            </p>
            <div class="text-right">
                <a href="{{ event.url }}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>


</div>
{% endfor %}
<!-- 
{% for event in site.events %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ event.url | split: '/' | pop | join: '/' | append: '/img.jpg' }}" alt="Card image cap">
    <div class="card-footer row">
        <div class="col-1"><i class="tim-icons icon-calendar-60"></i></div>
        <div class="col">{{ event.date-and-time }}</div>

        <div class="col-1"><i class="tim-icons icon-square-pin"></i></div>
        <div class="col">{{ event.location }}</div>

        <div class="col-1"><i class="tim-icons icon-sound-wave"></i></div>
        <div class="col">{{ event.organizers }}</div>

        <div class="col-1"><i class="tim-icons icon-simple-add"></i></div>
        <div class="col">{{ event.attend | markdownify }}</div>
    </div>
    <div class="card-body">
        <h5 class="card-title mb-1">{{ event.serie }}</h5>
        <h3 class="card-title">{{ event.name }}</h3>
        <p class="card-text">
            {{ event.content | truncate: 200 }}
        </p>
        <div class="text-center">
            <a href="{{ event.url }}" class="btn btn-primary text-center">Learn More</a>
        </div>
    </div>

</div>
{% endfor %} -->