<div class="row p-2">
    <div class="col-1"><i class="tim-icons icon-calendar-60"></i></div>
    <div class="col">{{ include.data.date-and-time }}</div>
    <div class="w-100"></div>

    <div class="col-1"><i class="tim-icons icon-square-pin"></i></div>
    <div class="col">{{ include.data.location }}</div>
    <div class="w-100"></div>

    <div class="col-1"><i class="tim-icons icon-sound-wave"></i></div>
    <div class="col">{{ include.data.organizers | join: ', ' }}</div>
    <div class="w-100"></div>

    <div class="col-1"><i class="tim-icons icon-simple-add"></i></div>
    <div class="col">{{ include.data.attend | markdownify }}</div>
    <div class="w-100"></div>

    <div class="col-1"><i class="fab fa-facebook-square"></i></div>
    <div class="col">
        <a href="{{ include.data.fb-link }}" target="_blank">
            View on Facebook
        </a>
    </div>
    <div class="w-100"></div>

    <div class="col-1"><i class="tim-icons icon-tag"></i></div>
    <div class="col">
        {% for tag in include.data.tags %}
        {{ tag | capitalize }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </div>
    <div class="w-100"></div>

</div>