<footer>
    <div class="container pt-3 text-center">
        <hr class="w-100">
        <div class="pt-3">
            &copy; Boston Taiwanese Biotechnology Association
        </div>
        <div class="pt-2 h4">
            <a href="http://" target="_blank" rel="noopener noreferrer" class="px-1">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer" class="px-1">
                <i class="fab fa-linkedin"></i>
            </a>
            <!-- <i class="fab fa--square"></i> -->
        </div>
    </div>
</footer>