---
---
// @import "{{ site.theme }}";
// @import "fonts";
// @import "theme_customizations";
// @import "bootstrap/scss/functions";
@import "variables";
// @import "bootstrap/scss/bootstrap";
@import "blk-design-system/assets/scss/blk-design-system";

html {
    font-size: 0.85rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;
    }
}

nav {
    font-size: 1rem;
}
.navbar .navbar-brand {
    font-size: 1.2rem;
}

ul li, ol li{
    color: $color2;
}
.btn-link {
    color: $primary-states;

    &:hover{
        color: $primary;
    }
}

footer a {
    color: $body-color;
}

.navbar .navbar-collapse .navbar-collapse-header .collapse-close .navbar-toggler {
    color: $body-color;
}
.navbar .navbar-brand, .collapse-brand > a {
    color: $body-color;
}

hr.short {
    width: 15%;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.nav-link.active {
    border-bottom: solid 3px;
}

.bg-img-placeholder {
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 200px;
}

.blog-post-single {

    // columns: 20rem;
    // column-gap: 3rem;
    max-width: 800px;

    * {
        // margin: 0px;
    }

    img {
        max-width: 800px;
        max-height: 400px;
        @extend .m-3, .float-right;
    }

    code {
        color: $color2;
        font-family: $font-family-base;
        font-weight: 700;
        font-size: 1em;
    }

    hr {
        border-color: $color2;
        border-width: 3px;
        border-radius: 0px;
        @extend .mt-5, .mb-4, .d-inline-block;
    }

    h1 {
        // font-weight: 800;
        color: $color2;
        @extend .display-1, .mb-2;
    }
}