---
---
// @import "{{ site.theme }}";
// @import "fonts";
// @import "theme_customizations";
// @import "bootstrap/scss/functions";
@import "variables";
// @import "bootstrap/scss/bootstrap";
@import "blk-design-system/assets/scss/blk-design-system";

ul li, ol li{
    color: $color2;
}
.btn-link {
    color: $primary-states;

    &:hover{
        color: $primary;
    }
}
// .container {
//     @extend .col-5
// }

hr.short {
    width: 15%;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.nav-link.active {
    border-bottom: solid 3px;
}

#about {
    // @extend .row, .align-items-center, .py-auto, .my-auto, .py-md-5, .my-md-5;
    // > :first-child {
    //     @extend .display-1;
    //     @extend .col-12, .col-md, .col-lg-5;
    //     // col-12 col-md col-lg-5
    // }
    // > :nth-child(2) {
    //     @extend .col-12, .col-md;
    // }
}

.bg-img-placeholder {
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 200px;
}

.blog-post-single {

    // columns: 20rem;
    // column-gap: 3rem;
    max-width: 800px;

    * {
        // margin: 0px;
    }

    img {
        max-width: 800px;
        max-height: 400px;
        @extend .m-3, .float-right;
    }

    code {
        color: $color2;
        font-family: $font-family-base;
        font-weight: 700;
        font-size: 1em;
    }

    hr {
        border-color: $color2;
        border-width: 3px;
        border-radius: 0px;
        @extend .mt-5, .mb-4, .d-inline-block;
    }

    h1 {
        // font-weight: 800;
        color: $color2;
        @extend .display-1, .mb-2;
    }
}