@import './palette.scss';

$font-family-base:            'Mukta Malar', sans-serif;
$font-family-alt:             'Mukta Malar', sans-serif;


$default:       #344675;
$primary:       #00f2c3;
$secondary:     #f4f5f7;
$success:       #e14eca;
$info:          #1d8cf8;
$warning:       #ff8d72;
$danger:        #fd5d93;
$black:         $color2;

// background-color
$background-black:           $color3;
// text-color
$body-color:    $color2;

$opacity-8:                  $color2;
$font-size-dash:             0.95rem;
$primary-states:             $color4;

// primary button and text
$primary:       darken($color4, 12%);

// .bg-light
$gray-500:      $color1;