/* Coolors Exported Palette - coolors.co/effffa-594949-f7e3e3-14b37d-f1c43a */

/* HSL */
$color1: hsla(161%, 100%, 97%, 1);
$color2: hsla(0%, 10%, 32%, 1);
$color3: hsla(0%, 56%, 93%, 1);
$color4: hsla(160%, 80%, 39%, 1);
$color5: hsla(45%, 87%, 59%, 1);

/* RGB */
$color1: rgba(239, 255, 250, 1);
$color2: rgba(89, 73, 73, 1);
$color3: rgba(247, 227, 227, 1);
$color4: rgba(20, 179, 125, 1);
$color5: rgba(241, 196, 58, 1);