---
layout: default
---

<div class="row align-items-center py-auto my-auto py-md-5 my-md-5">
    <div class="col-12 col-md col-lg-5">
        <h1 class="display-1">
            Events
        </h1>
    </div>
    <div class="col-12 col-md">
        <hr>
        <!-- <img src="{{ "/assets/img/btba_logo.png" | absolute_url }}" alt="BTBA logo" class="float-left p-4" width="150"> -->
        <p class="">
            We host monthly seminars, workshops, information sessions, and networking events to connect with our members in the greater Boston area. Through these activities, we hope to encourage scientific discussions & collaborations, promote career & scholarship opportunities, and seek support & advice on career development. Information about past and upcoming BTBA events are shown here as well as our Facebook Page.
        </p>
    </div>
</div>
{% assign events = site.events | reverse %}
{% for event in events %}
<div class="row mx-0 my-2" style="background: white;">
    <div class="col-12 col-sm-5 col-md-4 px-3 pt-3 pb-0 p-sm-3">
        <!-- <img class="" src="{{ event.url | split: '/' | pop | join: '/' | append: '/img.jpg' }}" alt="Card image cap"> -->
        <div class="bg-img-placeholder w-100" style="background-image:url('{{ event.url | split: '/' | pop | join: '/' | append: '/img.jpg' | absolute_url }}');">

        </div>
        {% include event-summary.html data=event %}
    </div>
    <div class="col px-3 pb-3 pt-0 p-sm-3">
        <div class="p-2">
            <h5 class="mb-1">{{ event.serie }}</h5>
            <h3 class="">{{ event.name }}</h3>
            <p class="">
                {{ event.content | truncate: 200 }}
            </p>
            <div class="text-right">
                <a href="{{ event.url | absolute_url }}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>


</div>
{% endfor %}